aclocal.m4
autom4te.cache
build-aux
config.h*
config.log
config.status
configure
debian/files
debian/lyricue.debhelper.log
debian/lyricue.substvars
debian/lyricue/
intltool*.in
libtool
Makefile
Makefile.in
POTFILES
src/lyricue_display
stamp-h1
stamp-it
.deps
*.gmo
*.o
