autom4te.cache/
debian/files
debian/lyricue.debhelper.log
debian/lyricue.substvars
debian/lyricue/
Makefile
config.h
config.log
config.status
data/Makefile
help/Makefile
libtool
po/Makefile
po/Makefile.in
po/POTFILES
po/de.gmo
po/en_AU.gmo
po/en_GB.gmo
po/en_US.gmo
po/es.gmo
po/fr.gmo
po/nl.gmo
po/pt.gmo
po/pt_BR.gmo
po/stamp-it
po/sv.gmo
po/tr.gmo
src/.deps/
src/Makefile
src/avahi.o
src/bible.o
src/database.o
src/display.o
src/lyricue_display
src/lyricue_display.o
src/utils.o
stamp-h1
