[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=lyricue_server
Icon=/usr/share/lyricue/lyricue-icon.png
Terminal=false
Name=Lyricue Server
Comment=The GNU Lyric Display System Server
Categories=AudioVideo
StartupNotify=true
X-Desktop-File-Install-Version=0.3
