
[Desktop Entry]
Name=Lyricue
Comment=Lyric Display System
Exec=lyricue
Icon=/usr/share/lyricue/lyricue-icon.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Utility;X-Red-Hat-Extra;
StartupNotify=true
Encoding=UTF-8
X-Desktop-File-Install-Version=0.3
