Source: lyricue-bible-NIV
Section: x11
Priority: optional
Maintainer: Lyricue Developers List <lds-devel@lists.sourceforge.net>
Standards-Version: 3.6.2
Build-Depends-Indep: debmake, debhelper

Package: lyricue-bible-NIV
Architecture: all
Pre-Depends: lyricue-cvs | lyricue
Description: The NIV bible for use with lyricue
 The New International Version Bible as a mysql database for use in lyricue
