Source: lyricue-bible-kjv
Section: x11
Priority: optional
Maintainer: Lyricue Developers List <lds-devel@lists.sourceforge.net>
Standards-Version: 3.6.2
Build-Depends-Indep: debhelper

Package: lyricue-bible-kjv
Architecture: all
Provides: lyricue-bible
Replaces: lyricue-kjvdb
Description: King James Bible for use with lyricue
 The King James Bible as a mysql database for use in lyricue
