Source: lyricue-cvs
Section: x11
Priority: optional
Maintainer: Chris Debenham <chris@adebenham.com>
Standards-Version: 3.8.2
Build-Depends-Indep: debhelper (>= 5.0.0), po-debconf

Package: lyricue-cvs
Architecture: all
Depends: libclutter-perl, libgstreamer-perl, unoconv, libdbd-mysql-perl|libdbd-sqlite3-perl, libgtk2-perl, libgtk2-gladexml-perl, libgtk2-spell-perl, libgtk2-trayicon-perl, libdbi-perl, libglib-perl, imagemagick|graphicsmagick-imagemagick-compat, libxml-simple-perl, ${misc:Depends}, ${perl:Depends}
Recommends: libgnome2-canvas-perl, lyricue-bible|diatheke, mysql-server
Conflicts: lyricue
Description: The GNU Lyric Display System
 This application is used to edit/display song lyrics on a second
 screen/projector for use at singing events such as church services.
 Features
    * Spellchecking
    * User access controls 
    * Networkable (ie run interface and server on different machines)
    * Multiple Playlists
    * Copyright info for songs
    * Automatic Page advance
    * Re-orderable playlist
    * Playlist entries to change background
    * All songs kept in a database and so screens are dynamically generated,
      allowing you to easily change the backdrop, font etc without having
      to change all the songs
    * Can automatically create screens for bible verses
    * Quick searching for songs
