Source: lyricue-cvs
Section: x11
Priority: optional
Maintainer: Lyricue Developers List <lds-devel@lists.sourceforge.net>
Standards-Version: 3.6.2
Build-Depends-Indep: debmake, debhelper

Package: lyricue-cvs
Architecture: all
Depends: libdbd-mysql-perl, mysql-server, libgtk2-perl, libgtk2-gladexml-perl, libgtk2-spell-perl, libgtk2-trayicon-perl, libdbi-perl, libglib-perl, xvfb, xbase-clients, imagemagick, ${misc:Depends}, ${perl:Depends}
Recommends: diatheke, libgnome2-canvas-perl, lyricue-kjvdb
Conflicts: lyricue
Description: The GNU Lyric Display System
 This application is used to edit/display song lyrics on a second
 screen/projector for use at singing events such as church services.
 Features
    * Spellchecking
    * User access controls 
    * Networkable (ie run interface and server on different machines)
    * Multiple Playlists
    * Copyright info for songs
    * Automatic Page advance
    * Re-orderable playlist
    * Playlist entries to change background
    * All songs kept in a database and so screens are dynamically generated,
      allowing you to easily change the backdrop, font etc without having
      to change all the songs
    * Can automatically create screens for bible verses
    * Quick searching for songs

Package: lyricue-kjvdb
Architecture: all
Pre-Depends: lyricue-cvs | lyricue
Description: King James Bible for use with lyricue
 The King James Bible as a mysql database for use in lyricue

Package: lyricue-nivdb
Architecture: all
Pre-Depends: lyricue-cvs | lyricue
Description: NIV Bible for use with lyricue
 The NIV Bible as a mysql database for use in lyricue
