#!/usr/bin/make -f
# Made with the aid of debmake, by Christoph Lameter,
# based on the sample debian/rules file for GNU hello by Ian Jackson.

package=lyricue

build:
	$(checkdir)
	
#	$(MAKE) CFLAGS="-O2 -g -Wall"
	touch build

clean:
	$(checkdir)
	rm -f build
#	-$(MAKE) clean
	rm -rf dist/lyricue-$(DEB_VERSION)
	rm -f `find . -name "*~"`
	rm -rf debian/tmp debian/files* core debian/substvars

binary-indep: checkroot build
	$(checkdir)
	rm -rf debian/tmp
	install -d debian/tmp
	cd debian/tmp && install -d `cat ../dirs`
	./install -f "`pwd`/debian/tmp" -a root
	install import_media `pwd`/debian/tmp/usr/bin
	install install `pwd`/debian/tmp/usr/lib/lyricue
	install mysql/*.sql `pwd`/debian/tmp/usr/share/lyricue/mysql/
	install debian/lyricue.desktop `pwd`/debian/tmp/usr/share/application
	install debian/lyricue_server.desktop `pwd`/debian/tmp/usr/share/application
# Must have debmake installed for this to work. Otherwise please copy
# /usr/bin/debstd into the debian directory and change debstd to debian/debstd
	debstd 
	dh_installdebconf	
	dpkg-gencontrol -isp
	chown -R root:root debian/tmp
	chmod -R go=rX debian/tmp
	dpkg --build debian/tmp ..

define checkdir
	test -f debian/rules
endef

binary: binary-indep binary-arch

.PHONY: mkdist
mkdist:
	./mkdist $(DEB_VERSION)
	cd dist && tar xvzf lyricue-$(DEB_VERSION).tar.gz
	cp debian dist/lyricue-$(DEB_VERSION) -R

binary-cvs: mkdist
	cd dist/lyricue-$(DEB_VERSION) && fakeroot debian/rules binary

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot

.PHONY: update-cvs-snapshot
update-cvs-snapshot:
	cvs -d:pserver:anonymous@cvs.sourceforge.net:/cvsroot/lds login
	cvs -z3 -d:pserver:anonymous@cvs.sourceforge.net:/cvsroot/lds update
