#!/usr/bin/make -f
# Made with the aid of debmake, by Christoph Lameter,
# based on the sample debian/rules file for GNU hello by Ian Jackson.

package=lyricue-cvs

build:
	$(checkdir)
	make
	touch build

clean:
	$(checkdir)
	rm -f build
	rm -rf dist/lyricue-$(DEB_VERSION)
	rm -f `find . -name "*~"`
	rm -rf debian/tmp debian/files* core debian/substvars

binary-indep: checkroot
	$(checkdir)
	rm -f build
	rm -rf debian/tmp
	install -d debian/tmp
	make install DESTDIR=`pwd`/debian/tmp
	dh_installdebconf
	dh_installchangelogs
	dh_perl
	debstd 
	dpkg-gencontrol -isp -p$(package)
	chown -R root:root debian/tmp
	chmod -R go=rX debian/tmp
	dpkg --build debian/tmp ..

define checkdir
	test -f debian/rules
endef

binary: binary-indep binary-arch

.PHONY: mkdist
mkdist:
	./mkdist $(DEB_VERSION)
	cd dist && tar xvzf lyricue-$(DEB_VERSION).tar.gz
	cp debian dist/lyricue-$(DEB_VERSION) -R

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot

