Source: lyricue-bible-KJV
Section: x11
Priority: optional
Maintainer: Lyricue Developers List <lds-devel@lists.sourceforge.net>
Standards-Version: 3.6.2
Build-Depends-Indep: debmake, debhelper

Package: lyricue-bible-KJV
Architecture: all
Provides: lyricue-bible
Replaces: lyricue-kjvdb
Description: King James Bible for use with lyricue
 The King James Bible as a mysql database for use in lyricue
