[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=lyricue
Icon=/usr/share/lyricue/lyricue-icon.png
Terminal=false
Name=Lyricue
Categories=AudioVideo
Comment=The GNU Lyric Display System
