Source: lyricue-bible-nirv
Section: x11
Priority: optional
Maintainer: Lyricue Developers List <lds-devel@lists.sourceforge.net>
Standards-Version: 3.6.2
Build-Depends-Indep: debhelper

Package: lyricue-bible-nriv
Architecture: all
Provides: lyricue-bible
Description: The NIRV bible for use with lyricue
 The New International Readers Version Bible as a mysql database for use in lyricue
