#!/usr/bin/make -f
# Made with the aid of debmake, by Christoph Lameter,
# based on the sample debian/rules file for GNU hello by Ian Jackson.

bible=NIRV
package=lyricue-bible-nirv

build:
	$(checkdir)
	touch build

clean:
	$(checkdir)
	rm -f build
	rm -f `find . -name "*~"`
	rm -rf debian/$(package) debian/files* core debian/substvars

binary-indep: checkroot
	$(checkdir)
	rm -f build
	rm -rf debian/$(package)
	install -d debian/$(package)
	cd debian/$(package) && install -d `cat ../dirs`
	install --mode=644 mysql/MySQL_create_bible_$(bible).sql `pwd`/debian/$(package)/usr/share/lyricue/mysql/
	dh_installchangelogs
	dh_compress -i -p$(package)
	dh_fixperms -i -p$(package)
	dh_installdeb -i -p$(package)
	dh_gencontrol -i -p$(package)
	dh_md5sums -i -p$(package)
	dh_builddeb -i -p$(package)

define checkdir
	test -f debian/rules
endef

binary: binary-indep binary-arch

.PHONY: mkdist
mkdist:
	./mkdist $(DEB_VERSION)
	cd dist && tar xvzf lyricue-$(DEB_VERSION).tar.gz
	cp debian dist/lyricue-$(DEB_VERSION) -R

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot

